<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Hello World</title>
    {% endblock %}
</head>

<body>
    {% block content %}
    <ul>
        {% for id, continent in obj %}
            <li>
                {{id, continent}}
                <a href="http://localhost:5001/delete/{{'id'}}">X</a>
                <a href="http://localhost:5001/update_formulaire?id={{'id'}}&nom={{'continent'}}">MAJ</a>
            </li>
        {% endfor %}
    </ul>
    {% endblock %}
</body>

</html>