<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% endblock %}
</head>

<body>
    {% block content %}
    <form action="http://localhost:5001/update_continent/" method = "post">
        <input type="hidden" values="{{data.get('id')}}" name="id">
        <label> nom du continent
            <input type="text" values="{{data.get('nom')}}" name="nom">
        </label>
        <input type="submit" values = "Envoyer !">
    </form>
    {% endblock %}
</body>
</html>