.navbar > a{
    display : relative;
    overflow : hidden;
    padding : 17px 18px;
    text-decoration: none;
    background-color: aqua;
}

.imgs {
    margin-top: 50px;
}

@media screen and (max-width: 640px){
    .navbar a:not(:first-child){
        display: none;
    }
    .react1{
        display:none;
    }
    .react2{
        display: none;
    }
    .dark{
        display:none;
    }
}

@media screen and (min-width: 641px) and (max-width: 1007px){
    .icon{
        align-items: center;
    }
    .react1{
        display:none;
    }
    .react3{
        display: none;
    }
    .dark{
        display:none;
    }
}
@media screen and (min-width: 1008px){
    .icon{
        display: none;
    }
    .react2{
        display:none;
    }
    .react3{
        display: none;
    }
    .dark{
        display:none;
    }
}

/* @media (prefers-color-scheme: dark) {
    .react2{
        display:none;
    }
    .react3{
        display: none;
    }
    .react1{
        display: none;
    }
} */