.container {
    display:flex;
    width: 100vw; height: 100vh;
    justify-content: center;
    align-items: center;
}

.boite {
    width: 300px; height: 300px;
}

@media screen and (prefers-color-scheme: dark){

}
@media screen and (prefers-color-scheme: light){

}