/* Prend le seul et unique frère suivant */
/* .container > .card {
    width: 100px; height: 100px;
    background-color: aquamarine;
} */


/* .container + .card {
    width: 100px; height: 100px;
    background-color: aquamarine;
} */

/* Prend tous les frères et soeurs de la même classe. */
/* .container ~ .card {
    width: 100px; height: 100px;
    background-color: aquamarine;
} */

/* Target uniquement les link avec l'attribut blank */
/* a[target = _blank]{
    color: greenyellow;
} */

/* input[type = text]{
    color: pink;
    border: 2px solid;
    padding : 20px
}

#input-special {
    color: blueviolet;
} */

/* .card ::after {
    content : blabla;
    border-bottom: 3px black;
    width: 100%;
    height: 20px;
} */

/* input:checked {

} */

/* input:disabled{

} */

/* .container {
    background-color: blue;
    width: 100%;
    height: 500px;
}  */

/* .container > div:nth-child(1){
    width: 50px; height: 50px;
    background-color: rgb(255, 0, 106);
}
.container > div:nth-child(2){
    width: 50px; height: 50px;
    background-color: rgb(255, 238, 0);
}
.container > div:nth-child(3){
    width: 50px; height: 50px;
    background-color: rgb(14, 17, 10);
}
.container > div:last-child{
    width: 50px; height: 50px;
    background-color: rgb(255, 255, 255);
} */

/* .container > div:first-child{
    width: 50px; height: 50px;
    background-color: rgb(207, 2, 2);
} */ 

/* .container > div:first-child:hover{
    width: 50px; height: 50px;
    background-color: rgb(2, 207, 19);
} */

.container {
    width: 100%;
    height: 500px;
}

.container > div:first-child {
    padding : 10px;
}

.btn {
    text-decoration: none;
    border: 1px solid;
    padding: 5px 20px;
    background-color: chocolate;
    color: white;
    font-size: .8em;
}

.btn:hover{
    background-color: cornflowerblue;
}

/* .btn:visited{
    background-color: green;
} */

input[type=text]:focus{
    background-color: yellow;
    color: papayawhip
}