.parent {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.upper{
    font-weight: 10; font-size: 5em;
    margin-left: 10%; margin-right: 10%;
    background: linear-gradient(90deg, rgba(235,235,235,0.9135855025603992) 0%, rgba(212,192,173,0.7959384437368697) 35%, rgba(214,214,214,0.7931373232886905) 53%, rgba(238,233,217,0.8127451664259454) 67%, rgba(242,222,175,0.7903362028405112) 76%, rgba(237,224,191,0.748319396117822) 82%);
    border: 1px rgb(184, 183, 183) solid; border-radius: 15px;
    text-align: center;
    color: rgb(143, 140, 140);
    margin-top: 10px; margin-bottom: 35px;
    padding-top: 5px; padding-bottom: 5px;
}

.leftimg {
    border: 1px solid rgb(184, 183, 183);
    border-radius: 15px;
    overflow : hidden;
}

.leftimg:hover{
    transform: scale(1.0) rotate(6deg);
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.centerpiece {
    background: radial-gradient(circle, rgba(239,240,241,1) 47%, rgba(235,231,203,1) 84%);    border: 1px solid rgb(184, 183, 183);
    border-radius: 15px;
    padding: 15px 25px;
    color: rgb(143, 140, 140);
}

.centerpiece:hover{
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.centerpiecetitle{
    border-bottom: 2px dotted rgb(143, 140, 140);
    ;
    margin-bottom: 35px;
}

.rightinfo {
    background: radial-gradient(circle, rgba(239,240,241,1) 47%, rgba(235,231,203,1) 84%);    border: 1px solid rgb(184, 183, 183);
    border-radius: 15px;
    padding: 15px 25px;
    color : rgb(143, 140, 140);
}

.rightinfo:hover{
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.motdepasse > h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid rgb(184, 183, 183);
    border-radius: 15px;
    padding : 5px 5px
}

.nomutilisateur > h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid rgb(184, 183, 183);
    border-radius: 15px;
    padding : 5px 5px
}

.tickbox{
    margin-top: 15px;
}
.newsletter{
    margin-top: 15px;
}

.forgottenmdp > a {
    font-size: .6em;
}
.newuser > a {
    font-size: .6em;
}

.newuser{
    margin-bottom: 15px;
}

.g-recaptcha{
    padding: 40px 10px;
}

.rightinfo > h2{
    border-bottom: 2px dotted rgb(143, 140, 140);
    margin-bottom: 35px;
}

