body {
    background-color: #FAF3F3;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 125;
    margin: 5%;
    font-size-adjust: 1;
}

header {
    border: dotted 2px black;
    background-color: #E1E5EA;
    color: rgb(10, 72, 72);
    padding: 0.75%, 3%;
    border-radius: 30px;
    text-align: center;
}

.flex{
    display: flex;
}

.droite{
    width: 25%;
    background-color: #E1E5EA;
    text-align: center;
    vertical-align: center;
}

.letextdroite {
    text-align: left;
}

.milieu {
    width: 50%;
    text-align: center;
}

.letextmilieu {
    text-align: left;
    display: table;
    margin: 0 auto;
}

.gauche{
    width: 25%;
    background-color: #E1E5EA;
    text-align: center;
}

.letextgauche {
    text-align: left;
}

.bas{
    background-color: #DA7F8F;
}

.bastitre {
    background-color: #DA7F8F;
    border: 150px black;
    border-radius: 30px;
    text-align: center;
}

.bastext {
    /* text-align: center; */
    display: table;
    margin: 0 auto;
    background-color: #DA7F8F;
}

footer{
    font-size: 0.4em;
}