
body {
    background-color: #CEE5D0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:100;
    margin: 3%;
}

header {
    background-color: #F3F0D7;
    color: seashell;
    padding: 2%, 5%;
    border:  10px solid chocolate;
    border-radius: 15px;
}

/* display flex */

.wrapper {
    display: flex;
}

.cotedepages {
    width: 30%;
}

.articles {
    width: 70%;
}

footer{
    background-color: #D8B384;
}