<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% endblock %}
</head>

<body>
    {% block content%}
        <form action="http://localhost:5001/addContinent" method="post">
            <label for=""> id du continent
                <input type="text" name="id_continent">
            </label>
            <label for=""> nom du continent
                <input type="text" name="nom_continent">
            </label>
            <input type="submit" value="soumettre">
        </form>
    {% endblock%}
</body>
</html>