<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cul</title>
</head>
<body style="background-image: url(assets/poke.jpg)">
    <div >
        <form action="{{ url_for('render') }}" method="POST">
            <label for="name">POKEMON</label>
            <input type="text" name="name">
            <button type="submit">Envoyer</button>
        </form>
    </div>
</body>
</html>