<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body style="background-image: url(assets/poke.jpg)">

<div>
ID du Pokefion : {{ data[0][0] }} <br>
Nom anglais du Pokefion : {{ data[0][1] }} <br>
Nom Japonais du Pokefion : {{ data[0][2] }} <br>
Nom Chinois du Pokefion : {{ data[0][3] }} <br>
Nom Français du Pokefion : {{ data[0][4] }} <br>
Type du Pokefion : {{data[0][5]}} <br>
Base HP du pokefion : {{data[0][6]}} <br>
Base ATK du pokefion : {{data[0][7]}} <br>
Base ATK du pokefion : {{data[0][7]}} <br>
Base DEF du pokefion : {{data[0][8]}} <br>
Base SP.ATK du pokefion : {{data[0][9]}} <br>
Base SP.DEF du pokefion : {{data[0][10]}} <br>
Base VIT du pokefion : {{data[0][11]}} <br>
</div>

<a href="{{url_for('cul')}}" type="button">RETOURNEZ</a>

<!-- 
    Bien le bonjour aventurier
    <br><br>
    {% for i in data %}
        {% for k in i %}
            <ul>{{k}}</ul>
        {% endfor %}
    {% endfor %}
</body> -->

</html>