.cards {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.cards > .card {
    width: 200px;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all .3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.cards > .card:hover {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.cards > .card > .card-header {
    transform: scale(1) rotate(0deg);
    transition: all .3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.cards > .card:hover > .card-header {
    transform: scale(1.2) rotate(7deg);
}

.cards > .card > .card-body {
    padding: 15px 20px; 
    background-color: #FFF;
    transform: translateY(0);
    transition: all .3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.cards > .card:hover > .card-body {
    transform: translateY(-50px);
}

.cards > .card > .card-body > h2 {
    font-weight: 600;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid rgb(230, 230, 230);
    transform: translateY(10px);
    transition: all .3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.cards > .card > .card-body > p {
    font-size: .8em;
    transform: translateY(20px);
    transition: all .3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.cards > .card > .card-footer {
    text-align: center;
    padding: 10px 0;
    transform: translateY(50px);
    transition: all .3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.cards > .card:hover > .card-footer {
    transform: translateY(-10px);
}

.cards > .card > .card-footer > a {
    text-decoration: none;
    font-weight: 600;
    color: #e2083a;
    font-size: .9em;
}